@charset "utf-8";
/* CSS Document */

@font-face
{
	font-family: "bnazanin";
	src: url(../fonts/bnazanin.ttf);
}
*
{
	font-family: 'bnazanin';
}
body
{
	direction: rtl;
}

.header
{
	width: 98%; margin: auto; background: hsla(359,86%,59%,1.00); height: 150px; border-radius: 45px;
}
.header .title
{
	width:auto;
	height: 100% ;
	float: right;
	line-height: 100px;
}
.header h1
{
	color: white;
	text-align: center;
	font-size: 36px;
}
.header .service
{
	width: 30%;
	height: 100%;
	background:hsla(359,73%,65%,1.00);
	float: right;
}
.service h3
{
	color: blue; text-align: center; font-size: 36px;
}
.header .logo
{
	width: 30%;
	height: 100%;
	background: hsla(179,78%,54%,1.00);
	float: left;
	text-align: left;
}
.header img
{
	width: 100%; height: 300px; margin: auto; float: right;
}
.logo img
{
	width: 150px;
	height: 150px;
}
.sabt
{
	width: 20%;  height: 35px; direction: ltr; margin-top:160px ;margin-right: 9px; border-radius: 5px; 
	line-height: 50px;
}
.sabt ul
{
	list-style: none; color: white;
}
.sabt ul li
{
	float: right; 
	/*margin-left: 30px;*/
}
.sabt input
{
	background: hsla(125,88%,40%,1.00); width: 50px; border-radius:8px;
}
.menu
{
	width: 98%;  height: 45px; background:hsla(241,100%,17%,1.00) ; border-radius: 5px;  margin-top: -10px;
	line-height: 50px;
}
.menu ul
{
	list-style: none; color: white;  margin-top: -10px;
}
.menu ul li
{
	
	float: right; 
	margin-left: 30px;
}
.menu a
{
	text-decoration: none;
	color:white;
}
.menu li :hover a
{
	color:hsla(248,83%,54%,1.00);
}
.menu li ul
{
	display: none;
	position: absolute;
	width: 120px;
	background:hsla(0,22%,92%,1.00);
	margin-right: -30; color: hsla(359,91%,51%,1.00);
}
.menu li:hover ul
{
	display: block;
}
.menu .singin
{
	background:hsla(359,93%,49%,1.00); border: medium;
}

.menu .regestermenu
{
	 margin-right: 10px; border-radius: 5px;
}
.menu .menuh
{
	width: 40%; height: auto; float: right; direction: rtl; color: white;
}

.menuh input
{
	width: 160px; height: 46px; border-radius: 2px; background: hsla(253,84%,61%,1.00)
}
.content
{
	width: 98%; height: auto; background:hsla(0,22%,92%,1.00); margin-top:5px;
}
.content img
{
	width: 98%;
}
.footer
{
	width: 98%; height:auto; background: hsla(0,3%,21%,1.00); float: right; margin-right: 10px; margin: auto; border-radius: 5px; 
}
.footer ul
{
	list-style: none; color: white;
}
.footer .ftozih
{
	width: 32%; height: auto; float: right; direction: rtl; color: white;
}
.footer .ftamas
{
	width: 32%; height: auto; float: right; direction: rtl; color: white;
}
.footer .femail
{
	width: 34%; height: auto; float: right; direction: rtl; color: white;
}
.femail a
{
	text-decoration: none; color: white;
}
.kala
{
	direction: rtl; width: 70%; background:hsla(0,22%,92%,1.00); float: left;
}
.worod
{
	direction: rtl; width: 30%; background:hsla(0,22%,92%,1.00); float: right; margin-top:auto;
}
.kala .aks
{
	width: 40%;  float: right; margin-left: 5%; text-align: center;
}
.kala a
{
	text-decoration: none; color: hsla(359,85%,47%,1.00);
}
.sabad
{
	width: 30%;
}
.sabad img
{
	width: 30%;
}
.sabad a
{
	text-decoration: none;
}
.sabad button
{
	background: hsla(123,83%,59%,1.00); width: 150px; border-radius: 5px; margin-top: 5px;
	margin-bottom: 5px;
}
.welcome
{
	width: 90%; height: 100px; line-height: 50px; direction:rtl; background: hsla(233,90%,50%,1.00);
	color: white; margin: auto; border-radius: 20px;
}
.user
{
	margin-right: 20px; font-size: 18px;
}
.exit
{
	 float:left; margin-left: 30px;  
}
.exit img
{
	width: 70px; height: 70px;
}
.myframe
{
	width: 90%; height: 800px; background: hsla(147,80%,61%,1.00); margin-right: 5%;
}
.UserPanel
{
	width: 30%; height: 200px; background:hsla(233,90%,50%,1.00); margin-right: 5%;
}
.LoginUser
{
	width: 30%; height: 200px; margin: auto; background:hsla(233,90%,50%,1.00);
}

.darbare
{
	width: 100%; height: auto; direction: rtl; background: hsla(359,78%,82%,1.00); color: blue;
}
.karbar
{
	width: 98%; height: auto; background: hsla(239,78%,75%,1.00); margin-right: 10px; margin-top: 160px;
}
.karbar .box
{
	width: 500px;
}
.aks img
{
	margin-right: 10px; margin-top: 10px; float: right;
}
.aks button
{
	background: hsla(118,75%,63%,1.00); color: white;
}
.sabad th
{
	background: hsla(254,80%,63%,1.00);
}
.sabad td
{
	background: hsla(336,67%,76%,1.00); color: white;
}