@charset "utf-8";
/* CSS Document */
.welcome ul
{
	direction: rtl; text-align: center;
}
.login
{
	width: 40%; height: 200px; margin: auto; background:hsla(149,74%,53%,1.00); border-radius: 5px;
	
}
.myfrom
{
	width: 100%; text-align:center; margin-top: 10px; margin-right: 100px;line-height: 50px;
}
.myfrom submit
{
	border-radius: 45;
}